<mat-card class="album-details">
  <div>
    <div class="album-details__header">
      <mat-card-title-group>
        <mat-card-title>
          {{ album['im:name'].label }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ album['im:artist'].label }}
        </mat-card-subtitle>
      </mat-card-title-group>
      <div fxFlex></div>
      <div class="album-details__button-container">
        <button
          mat-button
          (click)="onHideButtonClick()">
          Hide
        </button>
      </div>
    </div>
    <img
      mat-card-image
      [src]="album['im:image'][2].label">
    <mat-card-content>
      <p>
        <span class="album-details__details-info">Release Date:</span>
        {{ album['im:releaseDate'].attributes.label }}
      </p>
      <p>
        <span class="album-details__details-info">Category:</span>
        {{ album.category.attributes.label }}
      </p>
      <p>
        <span class="album-details__details-info">Price:</span>
        {{ album['im:price'].label }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a
        mat-button
        mat-raised-button
        color="accent"
        target="_blank"
        [href]="album.link.attributes.href">
        See more
      </a>
    </mat-card-actions>
  </div>
</mat-card>
